* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

html {
	font-size: 62.5%;
	margin: 0; 
	height: 100%; 
	overflow: hidden; 
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100%; 
	font-size: 14px;
	font-family: 'Exo', sans-serif;
	background: url("back-uber.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

iframe{ 
	position: absolute; 
	left:0; 
	right:0; 
	bottom:0; 
	top:0; 
	border:0; 
} 

.container {
	/*background: url("back-uber.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 100%;
  text-align: center;
}

#terminos {
	position: relative;
    display: inline-block;
    margin-top: 10%;
    color: #FFF;
    max-width: 450px;
    margin: 10% auto 0;
    height: 400px;
    overflow-y: scroll;
    padding: 0.5em 1em;
    text-align: justify;
    background: rgba(0,0,0,0.5);
    font-size: 0.9em;
    line-height: 1.2em;
    color: #AAA;
}

#terminos p,
#terminos li {
	margin-bottom: 0.8em;
}

#terminos p a {
	color: #FFF;
}

#terminos table {
	width: 100%;
}

#terminos th {
	font-weight: bold;
	text-align: center;
	background: rgba(255,255,255,0.2);
	border: solid 1px #AAA;
}

#terminos td {
	border: solid 1px #AAA;
}

#terminos span {
	display: block;
	margin: 0.5em;
}

#terminos label {
	font-weight: bold;
	color: #FFF;
}

#terminos #acepto {
	display: inline-block;
    background: #27B7BD;
    color: #FFF;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.7em;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 1em;
}

#terminos #no-acepto {
	display: inline-block;
    background: #CCC;
    color: #FFF;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.7em;
    border-radius: 5px;
    text-decoration: none;
}

#typeform-full {
	display: none;

}

#redencion {
	/*background: url("back-uber.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #B3E5D6;
  text-align: center;
  width: 100%;
}

.bono {
	max-width: 60%;
	margin: 0 auto;
}

.bono img {
	width: 100%;
	max-width: 600px;

}

.bono {
  margin-top: 10%;
	font-size: 1.4em;
	line-height: 1.4em;

}

.descarga {
	background: #27b7bd url("download4.png") no-repeat 10px center;
	color: #FFF;
	display: inline-block;
	font-size: 1.4em;
	line-height: 1em;
	padding: 0.5em 0.8em 0.5em 47px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
}